@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*, ::before, ::after {
  font-family: "Montserrat";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .container{
      margin-top: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    height: 800px;
    background: #e8d4e8a4;
    margin: 20px auto 0;
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.274);
    border-radius:  5px;

  }
  .content h2 {
    text-align: center;
    padding: 20px 0px 20px 0px;
    font-size: 35px;
  }
  .content hr {
    width: 200px;
    height: 4px;
    background-color: #263543;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .content p {
    width: 100%;
    height: 100%;
  }
  .active-content {
    display: block;
  }