@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
  font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    min-height: 100vh;
  }
  
  
  header,
  .Uploadform {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .list-of-files{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .file-upload,
  .form-upload-btn ,#upload{
    height: 60px;
    outline: none;
    border-radius: 0px;
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
   
  }
  
  ::-webkit-file-upload-button{
    /* display: none; */
    cursor: pointer;
    color: white;
    background-color: #2c3a479f;
    border: none;
    border-radius: 10px;
    font-family:'Montserrat' ;
    font-size: 25px;
    height: 100%;
  }
  .file-upload{
    background-color: #f3def3de;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 40%;
    cursor: pointer;
    outline: none;
    border:none;
  }
  #upload{
    color: white;
    background: #2c3a479f;
    cursor: pointer;
    transition: all 0.3s ease;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .form-btn:hover {
    background: #2c3a479f;
    color: white;
  }
  .file-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .file-list {
    min-width: 30%;
    list-style: none;
  }
  
  .todo {
    margin: 0.5rem;
    background: white;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
  }
  .filter-todo {
    padding: 1rem;
  }
  .todo li {
    flex: 1;
  }
  
  .download-btn{
    background: #806b96c2;
    width: 70px;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: 0px; 
  }
  .send-btn{
    background: #a18db6c2;
    width: 70px;
    color: rgb(255, 255, 255);
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: 0px; 
  }
  
  .todo-item {
    width: 350px;
    padding: 0rem 0.5rem;
  }
  
  .fon-trash,
  .fa-check {
    pointer-events: none;
  }
  
  .fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
  }
  
  @media screen and (max-width: 900px){
    form {
        min-height: 20vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      form input{
        width:30%;
      } 
      
  }
  