@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
#header{
    padding: 50px;
    text-align: center;
    background-color: #2c3a47aa;
    border-radius: 10px;
    font-family: "Montserrat";
    font-size: 90px;
    color: lightcyan;
    font-style: italic;

    margin-bottom: 30px;

}
@media screen and (max-width: 900px){
    #header{
        font-style: normal;
        padding: 30px;
        font-size: 70px;
    }
}