#log-out{
    outline: none;
    border: none;
    background-color: #263543ee;
    font-family: "Montserrat";
    font-size:70px;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 10px;
    margin-bottom: 15px;
    color: #fff;
    text-shadow: 0px 0px 5px #ffffff;
    }
#logout{
    display: flex;
    justify-content: space-around;
}