@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*, ::before, ::after {
  font-family: "Montserrat";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .tab-container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    background: #e8d4e8a4;
    margin: 20px auto;
    margin-bottom: 0px;
    word-break: break-all;
    border-radius:  5px;

  }
  
  .bloc-tabs {
    display: flex;
}
.tabs {
 
  padding: 0px;
  text-align: center;
  width: 100%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
 
  .active-tabs  {
    background: #2c3a479f;
    border-bottom: 1px solid transparent;
  }
  
  .active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: #263543;
    border-radius: 5px;
  }
  
  
  
  #tab1 , #tab2{
    
    outline: none;
    border: none;
    height: 60px;
    font-size: 40px;
    border-radius: inherit;
    width: 100%;

    
  }
 
  .tab-size{
    width: 90%;
  }