@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
#time-box{
    padding: 20px;
    text-align: center;
    background-color: rgb(151, 133, 133);
    border-radius: 10px;
    font-family: "Montserrat";
    font-size: 60px;
    color: lightcyan;
}