@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@keyframes transition {
  from{
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to{
    opacity: 1;
    transform: rotateX(0);
    }
  }
body{
    animation: transition 2s;
    font-family: "Montserrat";
    min-height: 100vh;
}
* {
  font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  header,
  .form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list-of-todos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .todo-input,
  .form-btn {
    height:  60px;
    outline: none;
    border-radius: 0px;
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: #f3def3de;  }
  .todo-input{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 40%;
  }
  .form-btn {
    color: #2c3a479f;
    background: #a9a7d39f;
    cursor: pointer;
    transition: all 0.3s ease;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .form-btn:hover {
    background: #2c3a479f;
    color: white;
  }
  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .todo-list {
    min-width: 30%;
    list-style: none;
  }
  
  .todo {
    margin: 0.5rem;
    background: white;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
  }
  .filter-todo {
    padding: 1rem;
  }
  .todo li {
    flex: 1;
  }
  
  .done-btn{
    background: #806b96c2;
    width: 70px;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 0px; 
  }
  
  .todo-item {
    width: 350px;
    padding: 0rem 0.5rem;
  }
  
  .fon-trash,
  .fa-check {
    pointer-events: none;
  }
  
  .fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
  }
  
  @media screen and (max-width: 900px){
    form {
        min-height: 20vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      form input{
        width:30%;
      } 
      
  }
  